{% extends 'base.html.twig' %}

{% block title %}
    gestion de Tâches
{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>
    <div class = "flex h-screen bg-[#F9FAFB]">
        <aside class = "w-64 shrink-0 border-gray-300">

            <button class=" flex items-center gap-2 m-3 p-4 rounded bg-black text-white">
                <i data-lucide="house"></i>
                Toutes les tâches
            </button>

            <p class="text-base px-4">DOSSIER</p>



        </aside>

        <div class="flex flex-col h-screen bg-white">
            <header class="flex items-center justify-between gap-150 p-4">

                <div class="flex flex-col px-6">
                    <h1 class=" text-2xl font-bold">Gestion de Tâches</h1>
                    <p>Organisez votre jornée efficacement</p>
                </div>

                <div class="flex items-center gap-8">
                    <div class= "flex items-center gap-2  border-gray-400 border rounded">
                        <i data-lucide="settings"></i>
                        Gérer les priorités
                    </div>
                    <div class="flex items-center gap-6">
                        <a href="{{ path('app_task_new') }}"
                            class="flex items-center gap-2 border border-gray-400 rounded px-3 py-2">
                            <i data-lucide="folder-plus"></i>
                            Nouveau dossier
                        </a>

                        <button class="flex items-center gap-2  border-gray-400 border rounded">
                            <i data-lucide="plus"></i>
                            Nouvelle tâche
                        </button>
                        <button class="flex items-center gap-2  border-gray-400 border rounded">
                            <i data-lucide="log-out"></i>
                            Déconnexion
                        </button>

                    </div>
                </div>

            </header>

            <div class=" flex bg-[#F9FAFB] h-39 items-center gap-6 ">
                <i data-lucide="funnel"></i>
                <h2 class= "flex ">Filters:Status</h2>
                <h2 class ="flex ">Priorité</h2>

            </div>
        </div>

        <script>
            lucide.createIcons();
        </script>
    {% endblock %}